@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* IMPOSTAZIONI GENERALI */

body, article, #lista-menu {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.icona-light {
    color: #b3b3b3;
}

.span-purple {
    color: #a316a3;
    font-weight: 600;
}

article {
    min-width: 450px;
}

code {
    background-color: #e0e0e0;
    padding: 2px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #767676;
}

/* HEADER */
header, main {
    padding: 20px;
    margin: 30px;
}

header {
    background-color: rgb(4, 92, 116);
}

#logo-and-blog {
    text-align: center;
    color: white;
}

#logo-and-blog > div:not(:first-child) {
    padding-block: 20px;
}

#menu ul {
    list-style: none;
    text-decoration: none;
    text-align: center;
}

#menu ul li a {
    text-decoration: none;
    color: white;
}

/* MAIN */

main {
    box-shadow: 0px 10px 11px 0px grey;
}

h1 {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

#tabella{
    width: 100%;
    border-bottom: 2px solid #4c67bd;
}

#tabella caption {
    font-style: italic;
    font-weight: 600;
}

#tabella thead {
    height: 60px;
    background-color: #4c67bd;
    color: white;
    text-align: center;
}

#tabella tbody tr {
    height: 45px;
    text-align: center;
}

#tabella tbody .tr-light-grey {
    background-color: #e0e0e0;
}

#video-yt {
    width: 100%;
    min-height: 150px;
    border-radius: 10px;
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
