/* IMPOSTAZIONI GENERALI */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body, article, #lista-menu {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.icona-light {
    color: #b3b3b3;
}

.icona-tag-date {
    color: black;
}

.span-purple {
    color: #a316a3;
    font-weight: 600;
}

article {
    background-image: url("../img/sfondo.png");
}

code {
    background-color: #e0e0e0;
    padding: 2px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #767676;
}

/* HEADER */

header, main, footer {
    padding: 20px;
    margin: 30px;
}

header {
    background-image: linear-gradient(180deg, #00a0d1, #0a7188);
}

#logo-and-blog {
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

#img-logo {
    height: 80px;
    padding-top: 20px;
}

#logo-and-blog > div:not(:first-child) {
    padding-block: 20px;
}

#menu {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
}

#menu ul {
    list-style: none;
}

#menu ul li a {
    text-decoration: none;
    color: white;
}

/* MAIN */

main {
    box-shadow: 0px 10px 11px 0px grey;
    background-color: white;
}

h1 {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

#tabella{
    width: 100%;
    border-bottom: 2px solid #4c67bd;
    margin-top: 20px;
}

#tabella caption {
    font-style: italic;
    font-weight: 600;
}

#tabella thead {
    height: 60px;
    background-color: #4c67bd;
    color: white;
    text-align: center;
}

#tabella tbody tr {
    height: 45px;
    text-align: center;
}

#tabella tbody .tr-light-grey {
    background-color: #e0e0e0;
}

#tabella + p {
    margin-block: 20px;
}

#video-yt {
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
}

#news {
    margin-top: 22px;
    background-color: #e0e0e0;
    text-align: center;
}

#news h3 {
    margin: 0;
    padding-block: 10px;
    font-size: 27px;
    font-weight: 500;
}

#news p {
    margin: 0;
    padding: 5px 15px;
}

#news form {
    padding: 10px;
}

#news form input {
    display: inline-block;
    width: 70%;
    padding: 5px;
    border: none;
    border-bottom: 1px dashed;
}

#news form button {
    padding: 5px;
    width: 20%;
    background-color: #4c67bd;
    border: none;
    color: white;
    font-weight: 600;
}

.box-art-corr {
    background-color: #e0e0e0;
    border: 1px solid #b3b3b3;
    margin-block: 20px;
    padding: 0 15px 15px 15px;
}

#Area-Correlati h3 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.box-art-corr > p {
    margin: 0;
}

.categoria {
    padding-block: 5px;
}

.box-art-corr > p:first-child {
    padding-top: 15px;
}

.link-art-corr {
    font-weight: 600;
    font-size: 18px;
    color: #31abe8;
}

.date {
    padding-top: 15px;
    text-align: right;
}

/* FOOTER */

footer {
    background-image: linear-gradient(180deg, #005566, #383634);
    color: white;
    padding: 15px 30px 20px;
    margin-bottom: 0;
}

footer div > p {
    margin: 0;
    padding-block: 10px;
    text-align: center;
}

.a-purple {
    color: #f903fe;
}